/* line 4, ../compass/sass/style.scss */
* {
  color: #000080;
}

/* line 9, ../compass/sass/style.scss */
#signin {
  text-align: center;
  font-family: Impact;
}

/* line 13, ../compass/sass/style.scss */
.row {
  margin: 10px;
}

/* line 16, ../compass/sass/style.scss */
.btn {
  margin-right: 10px;
}
